/* Write your CSS here */
.mode-bg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  text-align: center;
  border-radius: 12px;
}
.dark-mode {
  background-color: #000000;
  color: #ffffff;
}
.light-mode {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}
.heading {
  font-family: 'Roboto';
  font-size: 30px;
}
.button {
  font-size: 16px;
  border: none;
  padding: 16px;
  border-radius: 8px;
}
